
body {
  width: 1300px;

  margin: 0px;
}
.hc {
  background-color: rgba(34, 123, 190, 1);
  height: 50px;
}
.top-links {
  text-align: center;
}
/*    Article section of body*/
.main-article: {
  display: inline-block;
  float:left;
}
.side-article:{
  float:right;
}

.h1 {
  font-size: 4em;
  padding-bottom: 0;
  margin-top: 220px
}
p {
  margin: 0;
}
ul li {
  display: inline-block;
}
#read {
  background-color: rgba(164, 179, 191, 1);
}
#readLater {
  background-color: rgba(164, 179, 191, 1);
  vertical-align: middle;
}
#share {
  background-color: rgba(164, 179, 191, 1);
}
.icon {
  height: 33px;
  width: 30px;
}
.readComments {
  margin-right: 10px;
}
.readLater {
  margin-right: 10px;
}
.readLater .readComments .sharePost {
  height: 30px;
}

/******** images ******/
#foot-images {
  display: inline-block;
  position: relative;
  margin: 0px;
}

.surfingpic {
  width: 323px;
  height: 330px;
}
.beer {
  width: 325px;
  height: 330px;
}
.zach {
  width: 324px;
  height: 330px;
}
.stocked {
  width: 325px;
  height: 330px;
}
.white {
  width: 1300px;
}
/img {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .4;
  background: rgba(93, 151, 187, .4);
}
img:hover {
  opacity: 1;
}
